* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, 50px 1fr) 20px;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-elem {
    /*height: 50px;*/
    background-color: plum;
    color: purple;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid white;
    border-radius: 4px;
}