* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  width: 1140px;
  margin: 82px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: repeat(2, minmax(260px, auto));
  grid-auto-rows: 260px;
  gap: 60px;
  grid-auto-flow: row;
}

.news-item {
  &__img {
    width: 100%;
  }
  &__descr {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.grid-container2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 300px));
  grid-template-rows: repeat(3, minmax(100px, auto));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.grid-elem {
  background-color: plum;
  color: purple;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  border: 1px solid white;
  border-radius: 4px;
}

#first {
  grid-column: 1/3;
}

#second {
  grid-row: 3/4;
  grid-column: 2;
}

#third {
  grid-row: 2/4;
  grid-column: 3;
}